#grad {
  background-image: linear-gradient(to bottom right, red, yellow);
}

h1 {
  text-align: center;
}

body{
color: black;
font-family:fantasy;
margin:0px;
}


body {
  background-image: url("blue-flower3333.jpeg");
  background-attachment: fixed;
}

h2 {
  colour: #3679af
}

h1 {
  font-size: 3.5em
}


li {
  font-size: 1.5em;
=======

body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

.contrast {
  background-color: lightblue;
  display: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  }

#main {
  text-align: center;
}

.myimage {
  width: 200px;
  height: 700px;
}
