#grad {
  background-image: linear-gradient(to bottom right, red, yellow);
}

h1 {
  text-align: center;
  font-size: 3.5em;
  color: white;
  font-family: verdana;
}

h2,h3,h4 {
  text-align: center;
  font-size: 1.5em;
  color: white;
  font-family: verdana;
}

h5,h6 {
  text-align: center;
  color: white;
  font-family: verdana;
  font-size: 1.5em; 
}

body{
color: black;
font-family:fantasy;
margin:0px;
}

body {
  background-image: url("blue-flower3333.jpeg");
  background-attachment: fixed;
}

#main {
  background-color: lightblue;
}

p {
  font-family: verdana;
  font-size: 20px;
}

.contrast {
  background-color: lightblue;
  display: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

#main {
  text-align: center;
}

.myimage {
  width: 200px;
  height: 700px;
}

.row {
  color: white;
}
